html{
    font-size: 10px;
}
body{
    font-size: 1.6rem;
    font-family: 'Open Sans', Verdana, sans-serif;
}

.logo {
    background-image: url('/img/icons/Logo.png');
    width: 191px;
    height: 32px;
    display: inline-block;
}

.promo-img {
    background-image: url('/img/first-screen.png');
    width: 643px;
    height: 495px;
}
.employee-img {
    background-image: url('/img//avatar/Avator1.png');
    width: 135px;
    height: 135px;
}
.employee-img.second {
    background-image: url('/img//avatar/Avator2.png');
    width: 135px;
    height: 135px;
}
.employee-img.third {
    background-image: url('/img//avatar/Avator3.png');
    width: 135px;
    height: 135px;
}
